<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>CellImage</key>
        <string>account_set_nor</string>
        <key>CellTitle</key>
        <string>时间线</string>
        <key>ControllerClassName</key>
        <string>PRTimeLineViewController</string>
        <key>hasMoreData</key>
        <true/>
    </dict>
    <dict>
        <key>CellImage</key>
        <string>account_set_nor</string>
        <key>CellTitle</key>
        <string>设置</string>
        <key>ControllerClassName</key>
        <string>PRSettingViewController</string>
        <key>hasMoreData</key>
        <true/>
    </dict>
    <dict>
        <key>CellImage</key>
        <string>account_about_nor</string>
        <key>CellTitle</key>
        <string>关于</string>
        <key>ControllerClassName</key>
        <string>PRAboutViewController</string>
        <key>hasMoreData</key>
        <true/>
    </dict>
    <dict>
        <key>CellImage</key>
        <string>link_nor</string>
        <key>CellTitle</key>
        <string>邀请成员</string>
        <key>ControllerClassName</key>
        <string></string>
        <key>hasMoreData</key>
        <false/>
    </dict>
</array>
</plist>
