<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrimaryKey</key>
	<string>missonId</string>
	<key>TableName</key>
	<string>MissonNotice</string>
	<key>OCType</key>
	<dict/>
	<key>DBType</key>
	<dict/>
</dict>
</plist>
