<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrimaryKey</key>
	<string>missionId</string>
	<key>TableName</key>
	<string>T_MissionNotice</string>
	<key>OCType</key>
	<dict>
		<key>missionId</key>
		<string>NSNumber</string>
		<key>sortId</key>
		<string>NSNumber</string>
		<key>type</key>
		<string>NSNumber</string>
		<key>state</key>
		<string>NSNumber</string>
		<key>content</key>
		<string>NSString</string>
		<key>createTime</key>
		<string>NSNumber</string>
        <key>deadlineTime</key>
        <string>NSNumber</string>
		<key>completeTime</key>
		<string>NSNumber</string>
		<key>dutyId</key>
		<string>NSNumber</string>
		<key>dutyName</key>
		<string>NSString</string>
		<key>createUserId</key>
		<string>NSNumber</string>
		<key>createUserName</key>
		<string>NSString</string>
	</dict>
	<key>DBType</key>
	<dict>
		<key>missionId</key>
		<string>INTEGER</string>
		<key>sortId</key>
		<string>INTEGER</string>
		<key>type</key>
		<string>INTEGER</string>
		<key>state</key>
		<string>INTEGER</string>
		<key>content</key>
		<string>TEXT</string>
		<key>createTime</key>
		<string>INTEGER</string>
        <key>deadlineTime</key>
        <string>INTEGER</string>
		<key>completeTime</key>
		<string>INTEGER</string>
		<key>dutyId</key>
		<string>INTEGER</string>
		<key>dutyName</key>
		<string>TEXT</string>
		<key>createUserId</key>
		<string>INTEGER</string>
		<key>createUserName</key>
		<string>TEXT</string>
	</dict>
</dict>
</plist>
